
@import 'css-reset.css';

/************************
**************^GENERALS*/
body {
	width: 100%;
	font-family: sans-serif;
	background-color: grey;
	
}

#container {
	margin: 0 auto;
	padding: 0 auto;
}

section {
	margin: 3em 0;
}

button {
	display: inline;
	padding: 0 1.5em;
}

p, section > label {
	display: block;
}

.headings {
	font-size: 1.5em;
	padding: 0 0.5em;
	color: red;
}


/************************
**************SPECIFICS*/
header {
	position: relative;
}

h1 {
	padding: 1.3em 0 0.1em;
	font-size: 2em;
	text-align: center;
}

input {
	margin: 0.8em 0;
	padding: 0.4em 0.3em;
	border-radius: 5px;
}
input[type="checkbox"], label {
	margin: 0 5px;
}

#new-task {
	width: 75%;
}

button:hover {
	box-shadow: 0.3px 0.6px 1px 1px rgba(0,0,0,0.5), -0.3px -0.4px 1px 1px rgba(0,0,0,0.5);
}
button {
	background-color: skyblue;
	font-size: 1.3em;
	padding: 0.2em 0.5em;
	border: none;
	border-radius: 5px;
	position: absolute;
	right: 10px;
	top: 25px;
}

ul > li {
	margin: 0.5em 1em;
	position: relative;
	margin: 0 auto;
	padding: 15px 10px;
	border: 1px solid #000;
}

.delete {
	background-color: red;
	color: #fff;
	position: absolute;
	right: 10px;
	top: 8px;
}

#completed-tasks li {
	text-decoration: line-through;
}

fieldset {
	margin: 0 auto;
	border: 1.5px solid #000;
	max-width: 25em;
}