
@import 'css-reset.css';

body {
	width: 100%;
	font-family: sans-serif;
}

#container {
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}
section {
	margin: 3em 0;
}

button {
	display: inline;
	padding: 0 1.5em;
}

p, section > label {
	display: block;
}

h1 {
	padding: 1.3em 0 0.1em;
	font-size: 2em;
}

.headings {
	font-size: 1.5em;
	padding: 0 0.5em;
	color: red;
}

input {
	margin: 1em 0;
}

#completed-tasks li {
	text-decoration: line-through;
}


fieldset {
	margin: 0 auto;
	border: 1.5px solid #000;
	max-width: 25em;
}